.footer {
    background-color: var(--main-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    padding: 16px 16px;
}

.footer .footer-copyright {
    font-size: small;
    text-align: end;
    color: #fafafa;
}

.footer .footer-copyright > a {
    text-decoration: none !important;
    color: var(--sec-color);
}